<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block head_title %}Transfer passwords, view one time only{% endblock %}</title>
    <link href="/design/bootstrap.min.css" rel="stylesheet">
    <link href="/design/main.css" rel="stylesheet">
  </head>
  <body>
    {% block top_bar %}
        <header class="navbar navbar-fixed-top">
            <a class="navbar-brand" href="/">transfer.pw</a>
        </header>
    {% endblock %}
    {% block page_content %}{% endblock %}
    {% block footer %}
        <footer>
            <div class="container">
                <hr>
                <p>&copy; xmp.net</p>
            </div>
        </footer>
    {% endblock %}
    <script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <!-- sjcl.js is the Stanford Javascript Crypto Library from http://bitwiseshiftleft.github.io/sjcl/ -->
    <script src="/js/sjcl-1.0.6.min.js" type="text/javascript"></script>
    <!-- main.js contains our encrypt and decrypt functions -->
    <script src="/js/main.js" type="text/javascript"></script>
    {% block afterScripts %}{% endblock %}
  </body>
</html>
