{% extends "base.layout.twig" %}

{% block page_content %}

    <div class="container">
        <h1>Frequently Asked Questions</h1>

        <h4>Are you really unable to read my message?</h4>

        <p>We use only strong cryptographic algorithms (e.g. AES), randomly generated keys and
            the Stanford JavaScript Crypto Library (<a href="https://bitwiseshiftleft.github.io/sjcl/">link</a>).
            There is <strong>no way</strong> to break the crypto itself and decipher your message.</p>

        <h4>So why do I have to trust you?</h4>

        <p>When the site works as designed, you don't have to trust us. The cryptography is sound, albeit one might
            argue that the entropy is less than ideal. The problem is: unlike a cryptographic program on your
        own computer, our website might suddenly start shipping broken crypto without you realising it. That may be
        because we turned evil, or a hacker (or state sponsored agency) broke into our server. The
        problem is: you and your intended recipient would have to verify all JavaScript code of this site
            every time you use it. In practice, this is impossible.</p>

        <h4>Why not have some trustworthy party audit the site and vouch for you?</h4>

        <p>The problem is: even if someone audited all the code, there is nothing from keeping us
        (or a hacker) to change the site after the audit. There is no guarantee that the encryption
        code is ok, unless you (and your recipient) check it every time. As already said, this is so
        impractical as to be impossible.</p>

        <h4>So you are able to read my message?</h4>

        <p>Not if we use the crypto as advertised, then no. But we (or a hacker) could deceive you and serve
        you broken JavaScript and then read your message. You have to trust us that we don't turn evil
        and that we try to keep hackers and others off the site.</p>

        <h4>Why should I trust you?</h4>

        <p>This site was built out of necessity. Too many people we deal with sent us passwords
        and other credentials unencrypted. We wanted an easy way to secure the transmission.
        We have no interest in knowing your message: if government comes knocking on our door,
        we can give them the database with all information, without anyone (neither us nor the
        government) being able to decrypt the stored messages. Furthermore, we delete all messages
        after they have been viewed for the first time. So actually, the encryption protects <strong>us</strong>
        as well as you. As we don't know anything about you or your message, we cannot be liable for anything.
        This is our motivation for <strong>not</strong> reading your message: we want to stay out of trouble.</p>

        <h4>This seems too insecure. What else can I do?</h4>

        <p>If you find our motivation lacking, then do the only sensible thing: get yourself a real cryptographic program,
        like e.g. <a href="https://www.gnupg.org/">GPG</a> or <a href="https://www.enigmail.net/home/index.php">Enigmail</a>
        or S/MIME <a href="http://technet.microsoft.com/en-us/library/dn626158%28v=exchg.150%29.aspx">email certificates</a>.
        Then you don't need to trust anyone. If this FAQ encourages you to encrypt your email, we are
        very happy. Good for you! Good for everyone! Start encrypting your emails.</p>

        <h4>So this site is actually a stopgap measure?</h4>

        <p>Yes. Although we made this site as secure as possible, you really should start encrypting your emails.
        Until then, e.g. because you have partners
        who can't be bothered to switch to encrypted emails, you can use this site. Just do us a favour
        and don't use it to transfer launch codes for nuclear missiles ;-)</p>

        <h4>How do you make money?</h4>
        <p>We don't. This is a non-profit project.</p>

        <h4>How can I contact you?</h4>
        <p>Send an email to <em>info at transfer . pw</em></p>
    </div>

{% endblock %}
