{% extends "base.layout.twig" %}

{% block page_content %}

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Transfer passwords and more</h1>
                <p>This service allows you to encrypt and transfer passwords and other sensitive data to a friend.
                    The recipient can view the page <strong>only once</strong>!
                </p>
                {# <!--suppress HtmlUnknownTarget --> #}
                <form class="form-horizontal" action="/save" method="post" id="messageForm">
                <fieldset>
                    <div class="form-group secure-input">
                        <textarea class="form-control" id="message" name="message" rows="8" cols="80" placeholder="Enter your (short) message here..."></textarea>
                        <img src="/design/green-lock-33495_100.png" width="100" height="100">
                    </div>
                    <div class="form-group">
                        <button id="save" name="save" class="btn btn-success">Encrypt &amp; transfer</button>
                    </div>
                </fieldset>
            </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Security</h2>
                <p>We use strong cryptographic algorithms and all messages are protected by a freshly generated random password.
                    Your message is encrypted inside <em>your</em> browser,
                before it is sent to us. Therefore we cannot read your message. Neither can anyone else. Only the person who
                knows the link can do so.</p>
            </div>
            <div class="col-md-4">
                <h2>One time only</h2>
                <p>Instead of sending passwords or sensible messages by email, you can store it with us and
                    send the link instead. Once the intended recipient has read the message, it is deleted immediately.
                Thus you can be confident that noone else has seen or read the message <em>before</em> or <em>afterwards</em>!</p>
            </div>
            <div class="col-md-4">
                <h2>Trust</h2>
                <p>Although we have no way of reading your message, you still have
                    to trust us. No matter how secure we made our site, encryption inside the browser
                    faces some pesky issues. Read the FAQ to find out more, then judge for yourself.
                </p>
                <p>{# <!--suppress HtmlUnknownTarget --> #}
                    <a class="btn btn-default" href="/faq">Learn more &raquo;</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block afterScripts %}
    <div id="moreEntropy" class="hidden">{{ entropy }}</div>
    <script src="/js/home.js" type="text/javascript"></script>
{% endblock %}