{% extends "base.layout.twig" %}

{% block page_content %}

{% if not msgIsValid %}
    <div class="container">
        <div class="alert alert-warning">
            <h1>Problem with your message</h1>
            <p>There was an error while receiving your message. We are sorry. Please try again.</p>
            <p>Please note: the message has not been stored.</p>
        </div>
    </div>
{% elseif not msgIsStored %}
    <div class="container">
        <div class="alert alert-danger">
            <h1>Problem storing your message</h1>
            <p>There was an error while we tried to store your message. This is our fault. We are sorry. Please try again.</p>
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="alert alert-success">
            <h1>Success, your message has been stored</h1>
            <p>Copy the link below and send the link to its intended recipient.</p>
        </div>
        <p class="transferLink" id="transferLink">https://transfer.pw/{{ id }}</p>
        <p><strong>Please note:</strong> Do not try to verify the page, as the content is deleted after the first view!</p>
    </div>

{% endif %}

{% endblock %}

{% block afterScripts %}
    <script src="/js/save.js" type="text/javascript"></script>
{% endblock %}